* {
    margin: 0;
    padding: 0;
}

html {
    height: 1161px;
    overflow-y: scroll;
    background-color: #BBB;
}

body {
    background-color: white;
    width: 600px;
    border: 1px solid black;
    margin: 0 auto;
    font-family: 'Smythe', Georgia, 'Times New Roman', Times, serif;
}

header {
    background-image: url('./images/header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 167px;
}

header section {
    padding: 46px 0 70px 46px;
}

h1, h2 {
    color: #FFF;
    font-weight: normal;
}

h1 {
    font-size: 39px;
    line-height: 24px;
    margin-bottom: 19px;
}

h2 {
    font-size: 23px;
    line-height: 14px;
}

h3 {
    font-size: 28px;
    line-height: 17px;
    font-weight: normal;
}

p {
    color: #8B8B8B;
    font-size: 16px;
}

h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
}

article {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    padding: 0 46px;
}

article > section {
    width: 508px;
    height: 185px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
}

article section img {
    width: 70px;
}

article section section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 32px;
    margin-right: auto;
}

article section section p {
    margin: 8px 0;
}

article section button {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    font-size: 32px;
    line-height: 24px;
    color: #3C3C3C;
    font-weight: normal;
    cursor: pointer;
}

article section button:hover {
    color: white;
    background-color: limegreen;
    border: 1.5px solid limegreen;
}

aside {
    color: black;
    font-size: 16px;
    text-align: center;
    margin: 45px;
    display: flex;
    flex-direction: column;
}

aside section {
    display: flex;
    justify-content: flex-start;
    padding: 12px 0;
}

aside section button {
    margin-left: 13px;
    margin-right: auto;
    color: #BBB;
    background-color: white;
    border: none;
    cursor: pointer;
}

aside h2, h3, h4 {
    color: black;
}

aside h2 {
    font-size: 28px;
    margin-bottom: 42px;
}

#total {
    margin-top: 12px;
    padding-top: 24px;
    border-top: 2px solid black;
}

#total h3 {
    margin-right: auto;
}

aside > button {
    font-family: Verdana;
    margin-top: 52px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: limegreen;
    border-radius: 3px;
    height: 60px;
    border: none;
    cursor: pointer;
}

dialog * {
    font-family: Verdana;
    color: black;
    font-size: 20px;
}

dialog h2 {
    font-weight: bold;
    margin-top: 42px;
}

dialog {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 542px;
    width: 524px;
    margin: auto;
    position: absolute;
}

dialog form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 90%;
}

dialog form input, dialog form button {
    width: 100%;
    height: 72px;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 13px;
    border: 1px solid grey;
}

dialog button {
    color: white;
    background-color: limegreen;
    border: none;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6); /* Dim the background with a semi-transparent black */
    backdrop-filter: blur(4px); /* Add a blur effect to the background */
}

#confirmation {
    color: #065F46;
    background-color: #ECFDF5;
    font-size: 32px;
    font-weight: normal;
    height: 120px;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
}