* {
    margin: 0;
    padding: 0;
}

body {
    width: 600px;
    /* height: 1161px; */
    border: 1px solid black;
    margin: 0 auto;
    font-family: 'Smythe', Georgia, 'Times New Roman', Times, serif;
}

header {
    background-image: url('./images/header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 167px;
}

header section {
    padding: 46px 0 70px 46px;
}

h1, h2 {
    color: #FFF;
    font-weight: normal;
}

h1 {
    font-size: 39px;
    line-height: 24px;
    margin-bottom: 19px;
}

h2 {
    font-size: 23px;
    line-height: 14px;
}

h3 {
    font-size: 28px;
    line-height: 17px;
    font-weight: normal;
}

p {
    color: #8B8B8B;
    font-size: 16px;
}

h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
}

article {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    padding: 0 46px;
}

article > section {
    width: 508px;
    height: 185px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
}

article section img {
    width: 70px;
}

article section section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 32px;
    margin-right: auto;
}

article section section p {
    margin: 8px 0;
}

article section button {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    font-size: 32px;
    line-height: 24px;
    color: #3C3C3C;
    font-weight: normal;
    cursor: pointer;
}

article section button:hover {
    color: white;
    background-color: limegreen;
    border: 1.5px solid limegreen;
}

aside {
    color: black;
    font-size: 16px;
    text-align: center;
    margin: 45px;
    display: flex;
    flex-direction: column;
}

aside section {
    display: flex;
    justify-content: flex-start;
    padding: 12px 0;
}

aside section button {
    margin-left: 13px;
    margin-right: auto;
    color: #BBB;
    background-color: white;
    border: none;
    cursor: pointer;
}

aside h2, h3, h4 {
    color: black;
}

aside h2 {
    font-size: 28px;
    margin-bottom: 42px;
}